<footer class="block py-4 border-t bg-white">
    <div class="container mx-auto bg-white">
        <div class="flex justify-center items-center bg-white">
            <div class="w-full bg-white">
                <div class="text-sm text-blueGray-500 font-semibold py-1 text-center bg-white">
                    {{t "Copyright © 2022 {site_title}" site_title=@site.title}}
                </div>
            </div>
        </div>
    </div>
</footer>