<ul class="flex flex-col lg:flex-row list-none lg:ml-auto items-center">
    <li class="inline-block relative">
        <a
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.facebook.com/kevinpham1993"
            target="_blank"
            title="Facebook"
        >
            <i class="text-white text-4xl leading-lg fa-brands fa-facebook-square"></i>
            <span class="lg:hidden inline-block ml-2">Facebook</span>
        </a>
    </li>
    <li class="inline-block relative">
        <a
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.github.com/dungps"
            target="_blank"
            title="Github"
        >
            <i class="text-white text-4xl leading-lg fa-brands fa-github-square"></i>
            <span class="lg:hidden inline-block ml-2">Github</span>
        </a>
    </li>
    <li class="inline-block relative">
        <a
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.instagram.com/orycdung"
            target="_blank"
            title="Instagram"
        >
            <i class="text-white text-4xl leading-lg fa-brands fa-instagram-square"></i>
            <span class="lg:hidden inline-block ml-2">Instagram</span>
        </a>
    </li>
    <li class="inline-block relative">
        <a
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.linkedin.com/in/kevinpham93/"
            target="_blank"
            title="LinkedIn"
        ><i class="text-white text-4xl leading-lg fa-brands fa-linkedin"></i>
            <span class="lg:hidden inline-block ml-2">LinkedIn</span>
        </a>
    </li>
    <li class="inline-block relative">
        <a
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="mailto:oryc9x@gmail.com"
            target="_blank"
            title="Email"
        >
            <i class="text-white text-4xl leading-lg fa-solid fa-square-envelope"></i>
            <span class="lg:hidden inline-block ml-2">Email</span>
        </a>
    </li>
</ul>